{%extends "root.html" %}

{% block content %}
<h1>Lurker Bot</h1>

<div class="ui fluid search">
    <div class="ui fluid icon input">
        <input class="prompt" type="text" placeholder="Search by Username#Discrminator">
        <i class="arrow right icon"></i>
    </div>
    <div class="results"></div>
</div>

{% for user in users %}
<div>{{ user }}</div>
{% endfor %}
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='dist/home-bundle.js') }}"></script>
{% endblock %}