{%extends "root.html" %}

{% block content %}
<h1>Lurker Bot</h1>

<div class="ui fluid search">
    <div class="ui fluid icon input">
        <input class="prompt" type="text" placeholder="Search by Username#Discrminator">
        <i class="arrow right icon"></i>
    </div>
    <div class="results"></div>
</div>

<h2>What is this?</h2>
<p>Raptr and Xfire went out, so this bot fills the void. It looks at your status in Discord and keeps track of how long you play games!</p>

<h2>How to start tracking</h2>

<div class="ui list">
    <div class="item">
        <i class="icon">1</i>
        <div class="content">
            <div class="header">Have access to the bot</div>
            <div class="description">Only one of the following 2 options must be true</div>
            <div class="list">
                <div class="item">
                    <i class="icon">a</i>
                    <div class="content">
                        <div class="header"><a href="https://discord.gg/qJEHRHH">Join the Lurker Server</a></div>
                    </div>
                </div>
                <div class="item">
                    <i class="icon">b</i>
                    <div class="content">
                        <div class="header"><a
                                href="https://discordapp.com/oauth2/authorize?client_id=193907867483504642&scope=bot&permissions=0">Invite
                                Lurker to your Server</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <i class="icon">2</i>
        <div class="content">
            <div class="header">On any server where Lurker Bot is present, message the bot "addme".</div>
            <div class="description">To stop tracking, message the bot "removeme".</div>
        </div>
    </div>

    <div class="item">
        <i class="icon">3</i>
        <div class="content">
            <div class="header">The bot will respond to your message no matter what. Verify you receive a message.</div>
        </div>
    </div>

    <div class="item">
        <i class="icon">4</i>
        <div class="content">
            <div class="header">You're done!</div>
        </div>
    </div>
</div>

<div class="description">NOTE: Be sure to toggle "Display currently running game as a status message" on.</div>


<h2>What am I tracking?</h2>
<p>Your status / Presence on Discord. If it changes and you're being tracked, I parse that information to determine what
    game you are playing as well as the game state and information available to me via presence.</p>
<p>Only the bot is tracking items, and the code is readily available <a href="https://github.com/Goyatuzo/LurkerBot">on
        Github</a></p>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='dist/home-bundle.js') }}"></script>
{% endblock %}