{%extends "root.html" %}

{% block content %}
<h1>Lurker Bot</h1>

<div class="ui fluid search">
    <div class="ui fluid icon input">
        <input class="prompt" type="text" placeholder="Search by Username#Discrminator">
        <i class="arrow right icon"></i>
    </div>
    <div class="results"></div>
</div>

<h2>How to start tracking</h2>

<div class="ui list">
    <div class="item">
        <i class="icon">1</i>
        <div class="content">
            <div class="header">Have access to the bot</div>
            <div class="description">Only one of the following 2 options must be true</div>
            <div class="list">
                <div class="item">
                    <i class="icon">a</i>
                    <div class="content">
                        <div class="header"><a href="https://discord.gg/qJEHRHH">Join the Lurker Server</a></div>
                    </div>
                </div>
                <div class="item">
                    <i class="icon">b</i>
                    <div class="content">
                        <div class="header">One of your servers already has Lurker</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <i class="icon">2</i>
        <div class="content">
            <div class="header">DM Lurker "addme" and tracking will begin. Be sure to toggle "Display currently running
                game as a status message" on.</div>
            <div class="description">To stop tracking, DM "removeme" to the bot.</div>
        </div>
    </div>
</div>

<h2>What am I tracking?</h2>
<p>Your status / Presence on Discord. If it changes and you're being tracked, I parse that information to determine what
    game you are playing as well as the game state and information available to me via presence.</p>
<p>Only the bot is tracking items, and the code is readily available <a href="https://github.com/Goyatuzo/LurkerBot">on
        Github</a></p>


<h2>Past 2 weeks top 10 most played games</h2>
<canvas id="time-chart"></canvas>
{% endblock %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script>
    var gameNames = {{ games|safe }};
    var gameTimes = {{ times|safe }};
</script>

<script src="{{ url_for('static', filename='dist/home-bundle.js') }}"></script>
{% endblock %}